<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>李五虎</title>
    <link rel="stylesheet" href="../dist/css/index.min.css">
</head>
<body>

<div class="header">
    <ul class="nav">
        <li><a href="#">网站首页</a></li>
        <li><a href="#">作家简介</a></li>
        <li><a href="#">作品欣赏</a></li>
        <li><a href="#">艺术资讯</a></li>
        <li><a href="#">网评留言</a></li>
    </ul>
</div>

<div class="main">
    <div class="wrapper">
        <div class="author-group">
            <div class="author-info">
                <div class="author-img">
                    <img src="" alt="">
                </div>
                <div class="author-content">
                    <p class="name"></p>
                    <p class="content"></p>
                </div>
            </div>
        </div>
        <div class="works-group"></div>
    </div>
</div>

<div class="footer">
    <div class="wrapper">
        <ul class="top-group">
            <li><a href="#">网站首页</a></li>
            <li><a href="#">作家简介</a></li>
            <li><a href="#">作品欣赏</a></li>
            <li><a href="#">艺术资讯</a></li>
            <li><a href="#">网评留言</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
        <div class="bottom-group">
            <span class="copyright">版权所有</span>
            <ul class="links">
                <li><a href="#">ktianc</a></li>
                <li><a href="#">书法网</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>